<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greet and Gift | {{pageName}} </title>
    <!-- Include GSAP library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <!-- Include CSSRulePlugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/CSSRulePlugin.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ css1 }}">  
    <script defer src="{{ script1 }}"></script>
</head>
<body>
    {{{body}}}
</body>
</html>