<div class="env-container">
  <div class="env-content">
    <div class="envelope" onclick="openCard()"></div>
    <div class="letter">
      <div class="body">
        <span class="close" onclick="event.stopPropagation(); closeCard()">x</span>
        <div class="message">fin.</div>
      </div>
    </div>
    <div class="shadow"></div>
  </div>
</div> 