<div class="env-container">
  <div class="env-content">
    <div class="envelope" onclick="openCard()"></div>
    <div class="letter">
      <div class="body">
        <span class="close" onclick="event.stopPropagation(); closeCard()">x</span>
        <div class="message">
            <div class="header">Dear Me</div>
            <div class="letter-content">Ex consequat duis deserunt et exercitation nostrud incididunt laborum cupidatat ea enim ea incididunt officia.</div>
        </div>
      </div>
    </div>
    <div class="shadow"></div>
  </div>
</div> 