<div class="env-container">
  <div class="env-content">
    <div class="envelope" onclick="openCard()"></div>
    <div class="letters">
        
        <div class="letter">
            <div class="body">
                <span class="close" onclick="event.stopPropagation(); closeCard()">x</span>
                <div class="message">
                    <div class="header">Dear Pikachu</div>
                    <div class="letter-content">Happy Birthday! Ex consequat duis deserunt et exercitation nostrud incididunt laborum cupidatat ea enim ea incididunt officia.</div>
                     <div class="flip">view next letter</div>
                </div>
            </div>
        </div>
        <div class="letter">
            <div class="body">
                <span class="close" onclick="event.stopPropagation(); closeCard()">x</span>
                <div class="message">
                    <div class="header">CODE: </div>
                    <div class="letter-content">The code is from giftaway. Redeem the giftcode in ajdakjskdlajsklda</div>
                    <div class="flip">view next letter</div>
                </div>
            </div>
        </div>
    </div>
    <div class="shadow"></div>
  </div>
</div> 