@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

:root {
  --bg-color: #ffeded;
  --base: #5e5690;
  --base-light: #7873a7;
  --base-dark: #555184;
  --shadow: #4f4c6b;
  --letter: #d8d7e5;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.env-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.env-content {
  position: relative;
  perspective: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shadow {
  position: absolute;
  width: 200px;
  height: 1px;
  background: transparent;
  border-radius: 30%;
  box-shadow: 50px 100px 10px 5px #eeeef3;
}

.envelope {
  position: relative;
  margin-top: 5rem;
  width: 40rem;
  height: 22rem;
  background: linear-gradient(#0c0a20 0.5px, var(--base-light) 0.5px);
  cursor: pointer;
  /* visibility: hidden; */
}

.envelope::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30rem;
  border-top: 15rem solid #7068a4;
  border-left: 20rem solid transparent;
  border-right: 20rem solid transparent;
  box-sizing: border-box;
  z-index: 30;
  transform-origin: top;
}

.envelope::after {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  width: 50rem;
  height: 22rem;
  z-index: 25;
  background: 
  /*  bottom-right */ linear-gradient(
        27deg,
        var(--base-dark) 50%,
        var(--shadow) 54%,
        var(--base) 50%
      )
      20rem 190px/ 20rem 190px no-repeat,
    /*  top-right */
      linear-gradient(
        149deg,
        transparent 43%,
        var(--shadow) 40%,
        var(--base) 40%
      )
      20rem 0px/ 20rem 250px no-repeat,
    /*  bottom-right */
      linear-gradient(
        -27deg,
        var(--base-dark) 50%,
        var(--shadow) 54%,
        var(--base) 50%
      )
      0rem 190px/ 20rem 190px no-repeat,
    /*  top-left */
      linear-gradient(
        211deg,
        transparent 43%,
        var(--shadow) 40%,
        var(--base) 40%
      )
      0rem 0px/ 20rem 250px no-repeat;
}

.letters {
  position: absolute;
  width: 30rem;
  height: 20rem;
  margin-top: 5rem;
  border-radius: 1rem;
  background-color: transparent;
  z-index: 15;
}

.letters .letter:nth-last-child(2) {
  --y: calc(-10% + 15px);
  transform: translate(-8%, var(--y));
}

.letter {
  position: absolute;
  width: 30rem;
  height: 20rem;
  background: var(--letter);
  border-radius: 1rem;
  box-shadow: 0px 5px 7px 0px var(--base);
  transition: transform 200ms;
  transition: transform 200ms, z-index 0ms; /* Add transition for z-index */
  z-index: 0;
}

.body {
  color: var(--base);
  /* position: absolute; */
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1rem;
}

.letters .message {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  padding: 2rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: justify;
  justify-content: space-around;

  .header {
    font-weight: 600;
    /* margin-bottom: 3rem; */
  }

  .letter-content {
    font-size: 15px;
  }
}

.letter .body .flip {
  position: relative;
  bottom: 0;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
  color: rgb(75, 53, 102);
}

/* CSS Animation */
@keyframes swap {
  50% {
    transform: translate(-50%, calc(calc(-5% + 15px) - 280px)) scale(0.8)
      rotate(-5deg);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate(-50%, calc(calc(-50% + 0px) - 15px)) scale(0.5);
  }
}
